/node_modules
/public/hot
/public/storage
/public/uploads
/public/css/style.css.map
/storage/*.key
/vendor
package-lock.json
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log